{% extends "notarius/base.html" %}
{% block content%}
  {% include "notarius/navbar.html" %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<!--<script>
    $(document).ready(function(){


    $("#id_clientType").change(function () {
        const subjectId = $(this).val();  // get the selected subject ID from the HTML dropdown list
        console.log(subjectId);
        //if (subjectId == 2)
        //          {$("#3").addClass('d-none');}
        //else        {$("#3").removeClass('d-none');}
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '{% url "notarius:add_item" %}',
            data: {
                'clientType': subjectId,       // add the country id to the POST parameters
                'clientTypeText': $("#id_clientType option:selected").text(),
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                },
            success: function () {   // `data` is from `get_topics_ajax` view function

            //      if (subjectId == 2)
            //      {$("#3").addClass('d-none');
            //      }
            console.log('ok');
            //console.log($("#id_clientType option:selected").text());
            //document.getElementById('3').innerHTML = response;
            }
            //    let html_data = '<option value="">---------</option>';
            //    data.forEach(function (data) {
            //        html_data += `<option value="${data.id}">${data.title}</option>`
            //    });
            //    $("#3").html(); // replace the contents of the topic input with the data that came from the server
            //}
        });
    });
    });
</script>-->
{% endblock javascript %}




<div class="container py-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <!--    <input type="number" placeholder="Номер договора..." name="contractnum" id="contractnum">
        <input type="date" placeholder="Дата договора..." name="contractdate" id="contractdate">
        <input type="text" placeholder="ФИО заказчика..." name="clientname" id="clientname">
        <input type="file" accept="image/*" name="upload" id="upload">
        <button type="submit" name="Add Item" value="Add Item">Сформировать отчет</button>-->


        <ul class="nav nav-pills mb-3 sticky-top py-2 bg-white" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="assessment-task-tab" data-bs-toggle="pill" data-bs-target="#assessment-task" type="button" role="tab" aria-controls="assessment-task" aria-selected="true">Задание на оценку</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="object-of-assessment-tab" data-bs-toggle="pill" data-bs-target="#object-of-assessment" type="button" role="tab" aria-controls="object-of-assessment" aria-selected="false">Объект оценки</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="analogues-tab" data-bs-toggle="pill" data-bs-target="#analogues" type="button" role="tab" aria-controls="analogues" aria-selected="false">Аналоги</button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link" id="adjustments-tab" data-bs-toggle="pill" data-bs-target="#adjustments" type="button" role="tab" aria-controls="adjustments" aria-selected="false">Корректировки</button>
  </li>

            <li class="my-auto ms-auto">
                <button type="submit" name="Add Item" value="Add Item">Создать отчет</button>
            </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="assessment-task" role="tabpanel" aria-labelledby="assessment-task-tab">



            <div class="form-error">{{ form.non_field_errors }}</div>
            <div class="row">
                {% for f in form %}
                <div class="col-3 py-3"> <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label></div>
                <div class="col-9 py-3">{{ f }}<div class="form-error">{{ f.errors }}</div></div>

                {% endfor %}
            </div>

        <h3 class="py-3">Данные Заказчика</h3>


            <div class="row" id="i">
            {% for d in client_person_data_form %}
            <div class="col-3 py-3"> <label class="form-label" for="{{ d.id_for_label }}">{{ d.label }}</label></div>
                <div class="col-9 py-3">{{ d }}<div class="form-error">{{ d.errors }}</div></div>
            {% endfor %}
            </div>





      </div>
  <div class="tab-pane fade" id="object-of-assessment" role="tabpanel" aria-labelledby="object-of-assessment-tab">

              <h3 class="py-3">Объект оценки</h3>

            <div class="row" id="1">
            {% for o in object_of_assessment_form %}
            <div class="col-3 py-3"> <label class="form-label" for="{{ o.id_for_label }}">{{ o.label }}</label></div>
                <div class="col-9 py-3">{{ o }}<div class="form-error">{{ o.errors }}</div></div>
            {% endfor %}
            </div>


  </div>
  <div class="tab-pane fade" id="analogues" role="tabpanel" aria-labelledby="analogues-tab">


              <h3 class="py-3">Аналоги</h3>

                    <div class="row" id="2">

                        <div class="col-3 py-3 border">Характеристика</div>
                        <div class="col-3 py-3 border">Аналог 1</div>
                        <div class="col-3 py-3 border">Аналог 2</div>
                        <div class="col-3 py-3 border">Аналог 3</div>

                        <div class="col-3 py-3 border"> <label class="form-label" for="{{ analogues_form1.analogueModel.id_for_label }}">{{ analogues_form1.analogueModel.label }}</label></div>
                        <div class="col-3 py-3 border">{{ analogues_form1.non_field_errors }}{{ analogues_form1.analogueModel }}<div class="form-error">{{ analogues_form1.analogueModel.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form2.non_field_errors }}{{ analogues_form2.analogueModel }}<div class="form-error">{{ analogues_form2.analogueModel.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form3.non_field_errors }}{{ analogues_form3.analogueModel }}<div class="form-error">{{ analogues_form3.analogueModel.errors }}</div></div>

                        <div class="col-3 py-3 border"> <label class="form-label" for="{{ analogues_form1.analogueYear.id_for_label }}">{{ analogues_form1.analogueYear.label }}</label></div>
                        <div class="col-3 py-3 border">{{ analogues_form1.analogueYear }}<div class="form-error">{{ analogues_form1.analogueYear.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form2.analogueYear }}<div class="form-error">{{ analogues_form2.analogueYear.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form3.analogueYear }}<div class="form-error">{{ analogues_form3.analogueYear.errors }}</div></div>

                        <div class="col-3 py-3 border"> <label class="form-label" for="{{ analogues_form1.analogueLocation.id_for_label }}">{{ analogues_form1.analogueLocation.label }}</label></div>
                        <div class="col-3 py-3 border">{{ analogues_form1.analogueLocation }}<div class="form-error">{{ analogues_form1.analogueLocation.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form2.analogueLocation }}<div class="form-error">{{ analogues_form2.analogueLocation.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form3.analogueLocation }}<div class="form-error">{{ analogues_form3.analogueLocation.errors }}</div></div>

                        <div class="col-3 py-3 border"> <label class="form-label" for="{{ analogues_form1.analogueTechnicalCondition.id_for_label }}">{{ analogues_form1.analogueTechnicalCondition.label }}</label></div>
                        <div class="col-3 py-3 border">{{ analogues_form1.analogueTechnicalCondition }}<div class="form-error">{{ analogues_form1.analogueTechnicalCondition.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form2.analogueTechnicalCondition }}<div class="form-error">{{ analogues_form2.analogueTechnicalCondition.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form3.analogueTechnicalCondition }}<div class="form-error">{{ analogues_form3.analogueTechnicalCondition.errors }}</div></div>

                        <div class="col-3 py-3 border"> <label class="form-label" for="{{ analogues_form1.analogueDeterioration.id_for_label }}">{{ analogues_form1.analogueDeterioration.label }}</label></div>
                        <div class="col-3 py-3 border">{{ analogues_form1.analogueDeterioration }}<div class="form-error">{{ analogues_form1.analogueDeterioration.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form2.analogueDeterioration }}<div class="form-error">{{ analogues_form2.analogueDeterioration.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form3.analogueDeterioration }}<div class="form-error">{{ analogues_form3.analogueDeterioration.errors }}</div></div>

                        <div class="col-3 py-3 border"> <label class="form-label" for="{{ analogues_form1.analogueCost.id_for_label }}">{{ analogues_form1.analogueCost.label }}</label></div>
                        <div class="col-3 py-3 border">{{ analogues_form1.analogueCost }}<div class="form-error">{{ analogues_form1.analogueCost.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form2.analogueCost }}<div class="form-error">{{ analogues_form2.analogueCost.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form3.analogueCost }}<div class="form-error">{{ analogues_form3.analogueCost.errors }}</div></div>

                        <div class="col-3 py-3 border"> <label class="form-label" for="{{ analogues_form1.analogueSourceOfInformation.id_for_label }}">{{ analogues_form1.analogueSourceOfInformation.label }}</label></div>
                        <div class="col-3 py-3 border">{{ analogues_form1.analogueSourceOfInformation }}<div class="form-error">{{ analogues_form1.analogueSourceOfInformation.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form2.analogueSourceOfInformation }}<div class="form-error">{{ analogues_form2.analogueSourceOfInformation.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form3.analogueSourceOfInformation }}<div class="form-error">{{ analogues_form3.analogueSourceOfInformation.errors }}</div></div>

                        <div class="col-3 py-3 border"> <label class="form-label" for="{{ analogues_form1.offerDate.id_for_label }}">{{ analogues_form1.offerDate.label }}</label></div>
                        <div class="col-3 py-3 border">{{ analogues_form1.offerDate }}<div class="form-error">{{ analogues_form1.offerDate.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form2.offerDate }}<div class="form-error">{{ analogues_form2.offerDate.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_form3.offerDate }}<div class="form-error">{{ analogues_form3.offerDate.errors }}</div></div>

                        <div class="col-3 py-3 border"> <label class="form-label" for="{{ analogues_form1.analogueImage1.id_for_label }}">{{ analogues_form1.analogueImage1.label }}</label></div>
                        <div class="col-3 py-3 border">{{ analogues_image11_form.imageFile }}<div class="form-error">{{ analogues_image11_form.imageFile.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_image21_form.imageFile }}<div class="form-error">{{ analogues_image21_form.imageFile.errors }}</div></div>
                        <div class="col-3 py-3 border">{{ analogues_image31_form.imageFile }}<div class="form-error">{{ analogues_image31_form.imageFile.errors }}</div></div>


                    </div>




</div>

    <div class="tab-pane fade" id="adjustments" role="tabpanel" aria-labelledby="adjustments-tab">
        <h3 class="py-3">Корректировки</h3>


            <div class="row">

                        <div class="col-3 py-3 border">Характеристика</div>
                        <div class="col-3 py-3 border">Объект оценки</div>
                        <div class="col-2 py-3 border">Аналог 1</div>
                        <div class="col-2 py-3 border">Аналог 2</div>
                        <div class="col-2 py-3 border">Аналог 3</div>

                        <div class="col-3 py-3 border" >Корректировка на торг, %</div>
                        <div class="col-3 py-3 border" ></div>
                        <div class="col-2 py-3 border">{{ adjustment_form1.analogueDiscount }}</div>
                        <div class="col-2 py-3 border">{{ adjustment_form2.analogueDiscount }}</div>
                        <div class="col-2 py-3 border">{{ adjustment_form3.analogueDiscount }}</div>

                        <div class="col-3 py-3 border" >Скорректированная цена, руб.</div>
                        <div class="col-3 py-3 border" ></div>
                        <div class="col-2 py-3 border">{{ adjustment_form1.analogueAdjustedDiscount }}</div>
                        <div class="col-2 py-3 border">{{ adjustment_form2.analogueAdjustedDiscount }}</div>
                        <div class="col-2 py-3 border">{{ adjustment_form3.analogueAdjustedDiscount }}</div>

                        <div class="col-3 py-3 border" >Корректировка на техническое состояние, коэф.</div>
                        <div class="col-3 py-3 border" ></div>
                        <div class="col-2 py-3 border" >{{ adjustment_form1.analogueTechnicalConditionAdjustment }}</div>
                        <div class="col-2 py-3 border">{{ adjustment_form2.analogueTechnicalConditionAdjustment }}</div>
                        <div class="col-2 py-3 border">{{ adjustment_form3.analogueTechnicalConditionAdjustment }}</div>

                        <div class="col-3 py-3 border" >Скорректированная цена, руб.</div>
                        <div class="col-3 py-3 border" ></div>
                        <div class="col-2 py-3 border">{{ adjustment_form1.analogueAdjustedTechnicalCondition }}</div>
                        <div class="col-2 py-3 border">{{ adjustment_form2.analogueAdjustedTechnicalCondition }}</div>
                        <div class="col-2 py-3 border">{{ adjustment_form3.analogueAdjustedTechnicalCondition }}</div>

                        <div class="col-3 py-3 border" >Средневзвешенная стоимость, руб.</div>
                        <div class="col-3 py-3 border" ></div>
                        <div class="col-2 py-3 border">{{ adjustment_form1.analogueAveragePrice }}</div>
                        <div class="col-2 py-3 border">{{ adjustment_form2.analogueAveragePrice }}</div>
                        <div class="col-2 py-3 border">{{ adjustment_form3.analogueAveragePrice }}</div>

                        <div class="col-3 py-3 border" >Итоговая стоимость стоимость, руб.</div>
                        <div class="col-3 py-3 border" >00000</div>
                        <div class="col-2 py-3 border"></div>
                        <div class="col-2 py-3 border"></div>
                        <div class="col-2 py-3 border"></div>



            </div>


    </div>










    </form>
</div>
{% endblock content %}