{% extends "notarius/base.html" %}
{% block content%}
  {% include "notarius/navbar.html" %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="number" placeholder="Номер договора..." name="contractnum" id="contractnum">
    <input type="date" placeholder="Дата договора..." name="contractdate" id="contractdate">
    <input type="text" placeholder="ФИО заказчика..." name="clientname" id="clientname">
    <input type="file" accept="image/*" name="upload" id="upload">
    <button type="submit" name="Add Item" value="Add Item">Сформировать отчет</button>

</form>
{% endblock content %}