<!doctype html>
{% load static %}
<html lang="ru-RU">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'admin/css/style.css' %}" rel="stylesheet">
<script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/htmx.min.js' %}"></script>
    <script src="{% static 'admin/js/adjustment.js' %}"></script>
    <title>Hello, world!</title>
  </head>
  <body>
  {% block content%}{% endblock content %}
  </body>

</html>