{% extends "notarius/base.html" %}


{% block content%}


  {% include "notarius/navbar.html" %}

  <h1 class="text-center">Список отчетов</h1>
    <div class="container">
      <div><a href="{% url 'notarius:add_item' %}" class="btn btn-primary">Новый отчет</a>
      </div>
    </div>

    <div class="container">
      <div>
        <div>Поиск</div>
        <form method="get">
          <input type="text" name="search">
        </form>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-3 p-2 border">
          Номер договора
        </div>
        <div class="col-3 p-2 border">
          Дата договора
        </div>
        <div class="col-3 p-2 border">
          ФИО Заказчика
        </div>
        <div class="col-3 p-2 border">
          Оценщик
        </div>
      </div>
    </div>
    {% for item in items %}
    <div class="container">
      <a href="{% url 'notarius:report' item.id %}">
        <div class="row">
          <div class="col-3 p-2 border">
            {{ item.contractNumber }}
          </div>
          <div class="col-3 p-2 border">
            {{ item.conrtractDate }}
          </div>
          <div class="col-3 p-2 border">
            {{ item.clientname }}
          </div>
          <div class="col-3 p-2 border">
            {{ item.appraiser.email }}
          </div>
        </div>
      </a>
    </div>
    {% endfor %}

    <div class="container d-flex py-2">
    <div>
      {% if page_obj.has_previous %}
      <a href="?page=1" class="px-2">Первая</a>
      <a href="?page={{ page_obj.previous_page_number}}" class="px-2">Предыдущая</a>

      {% endif %}
    </div>

    <div class="px-2">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</div>

      <div>
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number}}" class="px-2">Следующая</a>
      <a href="?page={{ page_obj.paginator.num_pages}}" class="px-2">Последняя</a>

      {% endif %}
      </div>



    </div>

{% endblock content %}
